// 
// Turks Head Reference
// 

// wide
//<i class="fal fa-rectangle-wide"></i>

// square
// <i class="fal fa-square"></i>

// times
// <i class="fal fa-times"></i>

// prime
// <span class="prime">#</span>

// tall
// <i class="fal fa-rectangle-wide fa-rotate-90"></i>

// Icons
.thr {
    .fa-times { 
        color: $color__primary-lt;
    }
    .fa-square { 
        color: $color__pink; 
    } 
    .fa-rectangle-wide {
        color: $color__blue; 
    }
    .fa-hashtag, 
    .prime  { 
        color: $color__cyan; 
    }    
    .fa-rectangle-wide.fa-rotate-90 { 
        color: $color__yellow;

    }      

}


.thr table {
    th:not(:first-child),
    td:not(:first-child) {
        text-align: center;
        width: 2.28em;
    }
}



